<CascadingAuthenticationState>
    <CascadingBlazoredModal>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>No encontrada</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Pagina No encontrada</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingBlazoredModal>

</CascadingAuthenticationState>
