@page "/fetchdata"

<PageTitle>Promociones</PageTitle>

@using Data;
@using Dominio
@inject Promociones promociones;

<h1>Promociones</h1>

<p>This component demonstrates fetching data.</p>
<button @onclick="AbrirModal" class="btn btn-primary">Counter</button>
<table class="table">
    <thead>
        <tr>
            ID
        </tr>
        <tr>
            Etiqueta
        </tr>
        <tr>
            Descuento
        </tr>
        <tr>
            Comienzo
        </tr>
        <tr>
            Fin
        </tr>
    </thead>
    <tbody>
        @foreach (Promocion promo in promos)
        {
            <tr>
                <td>@promo.Id</td>
                <td>@promo.Etiqueta</td>
                <td>@string.Concat(promo.Descuento,"%")</td>
                <td>@promo.Comienzo</td>
                <td>@promo.Fin</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    private IList<Promocion> promos;

    protected override async Task OnInitializedAsync()
    {
        promociones.Logica.AddPromocion(new("asd",10,DateTime.Today,DateTime.Today.AddDays(5),'S'));
        promos = promociones.Logica.GetPromociones();
    }

    private async void AbrirModal()
    {
        var messageForm = Modal.Show<ModalAgregarPromocion>("Counter Modal");
        var result = await messageForm.Result;

        if (result.Confirmed)
        {
            promos = promociones.Logica.GetPromociones();
        }
    }
}
